@page
@model MVClogin2.Areas.Simple.Pages.Data.PageWithRandomDataModel
@{
    
}
<html>
    <head> 
        <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> 
        <script type="text/javascript">
            var intervalId = window.setInterval(function(){
                  getData()
                }, 1000);

            async function getData(){
                const response= await fetch('@ViewData["path"]/api/Value/Value')
                const obj = await response.json();
                document.getElementById("Value").innerHTML = "Random Value = " + obj.data;
                }
        </script>
    </head>  
    <body> 
        <h1 id="Value" >Random Value = Model</h1>
    </body>
</html>
