@page
@model MVClogin2.Areas.Simple.Pages.Data.PageWithRandomDataModel
@{
    
}
<html>
    <head> 
        <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> 
        <script type="text/javascript">
            var intervalId = window.setInterval(function(){
                  getData()
                }, 1000);

            async function getData(){
                console.log("r");
                $("#Value").load(window.location.href+" #Value");
                }
        </script>
    </head>  
    <body> 
        <h1><span>Random Value = </span><span id="Value">@Model.data</span></h1>
    </body>
</html>
