@page
@model MVClogin2.Areas.Simple.Pages.Data.PageWithRandomDataModel
@{
    
}
<html>
    <head> 
        <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script> 
        <script type="text/javascript">
            var intervalId = window.setInterval(function(){
                  getData()
                }, 1000);

            async function getData(){
                $("#Value").load(window.location.href+'/Value/Value');  //controllerName/methodName
                }

            function getField(obj,name){
                var result = obj.indexOf(name);
                if (result!=-1){

                }
                return null;

            }
        </script>
    </head>  
    <body> 
        <h1><span>Random Value = </span><span id="Value">Model</span></h1>
    </body>
</html>
