@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "ListOfMembers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MVClogin2.Controllers 
@{  
   var members = ViewData["members"] as List<UserModel>;   
}
<h1>Список участников</h1>
<table>  
    <tr>   
        <th>UserName</th>  
        <th>Имя</th>  
        <th>Фамилия</th>
    </tr>  

    @foreach (var m in members)
    {  
        <tr> 
            <td>@m.username</td>
            <td>@m.firstname</td>
            <td>@m.lastname</td>
        </tr> 
    }
</table>
