.13_178 {
    overflow: hidden;
}

.e13_178 {
    background-color: rgba(255, 255, 255, 1);
    width: 1366px;
    height: 3670px;
    position: absolute;
}

.e13_237 {
    width: 1366px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e13_179 {
    background-image: linear-gradient(0deg, rgba(111.00000858306885, 124.9999925494194, 251.00000023841858, 1) 0%,rgba(37.9999977350235, 47.999993339180946, 140.00000685453415, 1) 100%);
    width: 1366px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e13_192 {
    width: 522px;
    height: 59px;
    position: absolute;
    left: 749px;
    top: 54px;
}

.e13_181 {
    color: rgba(255, 255, 255, 1);
    width: 52px;
    height: 24px;
    position: absolute;
    left: -2.2737367544323206e-13px;
    top: 18px;
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e13_184 {
    color: rgba(255, 255, 255, 1);
    width: 73px;
    height: 24px;
    position: absolute;
    left: 112px;
    top: 18px;
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e13_185 {
    color: rgba(255, 255, 255, 1);
    width: 77px;
    height: 24px;
    position: absolute;
    left: 245px;
    top: 18px;
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e13_186 {
    background-color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 140px;
    height: 59px;
    position: absolute;
    left: 382px;
    top: 0px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_186_3_15 {
    color: rgba(255, 255, 255, 1);
    width: 78px;
    height: 27px;
    position: absolute;
    left: 31px;
    top: 16px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e13_180 {
    color: rgba(255, 255, 255, 1);
    width: 187px;
    height: 90px;
    position: absolute;
    left: 94px;
    top: 51px;
    font-family: Raleway;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0;
}

.e13_193 {
    color: rgba(255, 255, 255, 1);
    width: 503px;
    height: 126px;
    position: absolute;
    left: 91px;
    top: 145.9999542236328px;
    font-family: Raleway;
    text-align: left;
    font-size: 50px;
    letter-spacing: 0;
}

.e13_194 {
    color: rgba(255, 255, 255, 1);
    width: 589px;
    height: 256px;
    position: absolute;
    left: 94px;
    top: 289.0000305175781px;
    font-family: Poppins;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
}

.e13_195 {
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 170px;
    height: 59px;
    position: absolute;
    left: 91px;
    top: 545.0000610351562px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_195_3_46 {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 29.5px;
    top: 20.5px;
}

.ei13_195_3_47 {
    background-color: rgba(255, 255, 255, 1);
    width: 9.899615287780762px;
    height: 9.899615287780762px;
    position: absolute;
    left: 6.299999713897705px;
    top: 1.800384283065796px;
}

.ei13_195_3_48 {
    background-color: rgba(255, 255, 255, 1);
    width: 12.59999942779541px;
    height: 12.59999942779541px;
    position: absolute;
    left: 1.8000000715255737px;
    top: 3.6000001430511475px;
}

.ei13_195_3_49 {
    color: rgba(255, 255, 255, 1);
    width: 91px;
    height: 27px;
    position: absolute;
    left: 49.5px;
    top: 16px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e13_235 {
    width: 113px;
    height: 480px;
    position: absolute;
    left: 1074px;
    top: 279px;
}

.e13_214 {
    border-radius: 500px;
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 80px;
    height: 64px;
    position: absolute;
    left: 33px;
    top: 0px;
}

.e13_215 {
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 22px;
    height: 55px;
    position: absolute;
    left: 60px;
    top: 49.99995803833008px;
}

.e13_216 {
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 89px;
    height: 265px;
    position: absolute;
    left: 24px;
    top: 96px;
}

.e13_217 {
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 19px;
    height: 128px;
    position: absolute;
    left: 24px;
    top: 351.9999084472656px;
}

.e13_218 {
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 16px;
    height: 124px;
    position: absolute;
    left: 89px;
    top: 356.0000915527344px;
}

.e13_219 {
    border-radius: 500px;
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 55px;
    height: 21px;
    position: absolute;
    left: -4.547473508864641e-13px;
    top: 28.999958038330078px;
}

.e13_226 {
    width: 168px;
    height: 88px;
    position: absolute;
    left: 817px;
    top: 307.9999694824219px;
}

.e13_225 {
    background-image: linear-gradient(0deg, rgba(111.00000098347664, 125.00000014901161, 251.00000023841858, 1) 0%,rgba(59.00000028312206, 68.00000354647636, 143.00000667572021, 1) 100%);
    width: 162px;
    height: 82px;
    position: absolute;
    left: 6px;
    top: 5.99995756149292px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.e13_222 {
    background-color: rgba(255, 255, 255, 1);
    width: 162px;
    height: 82px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.e13_220 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 139px;
    height: 24px;
    position: absolute;
    left: 11px;
    top: 41.99995803833008px;
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e13_221 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 60px;
    height: 48px;
    position: absolute;
    left: 51px;
    top: 5.99995756149292px;
    font-family: Poppins;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.e13_234 {
    width: 168px;
    height: 74px;
    position: absolute;
    left: 730px;
    top: 492px;
}

.e13_227 {
    width: 168px;
    height: 74px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e13_228 {
    background-image: linear-gradient(0deg, rgba(111.00000098347664, 125.00000014901161, 251.00000023841858, 1) 0%,rgba(59.00000028312206, 68.00000354647636, 143.00000667572021, 1) 100%);
    width: 162px;
    height: 68.0227279663086px;
    position: absolute;
    left: 6px;
    top: 5.977292060852051px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.e13_229 {
    background-color: rgba(255, 255, 255, 1);
    width: 162px;
    height: 68.0227279663086px;
    position: absolute;
    left: -2.2737367544323206e-13px;
    top: 1.0000423192977905px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.e13_230 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 112px;
    height: 19.909090042114258px;
    position: absolute;
    left: 24px;
    top: 35.84091567993164px;
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e13_231 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 48px;
    height: 39.818180084228516px;
    position: absolute;
    left: 39px;
    top: 0px;
    font-family: Poppins;
    text-align: center;
    font-size: 32px;
    letter-spacing: 0;
}

.e13_232 {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 93px;
    top: 0px;
}

.e13_233 {
    background-color: rgba(255, 206.0000029206276, 49.00000087916851, 1);
    width: 37.5px;
    height: 36.25px;
    position: absolute;
    left: 1.25px;
    top: 1.8750001192092896px;
}

.e13_472 {
    width: 1212px;
    height: 967px;
    position: absolute;
    left: 96px;
    top: 808px;
}

.e13_452 {
    width: 610px;
    height: 967px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e13_451 {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.25);
    background-color: rgba(7.000000057742, 9.000000413507223, 23.000000528991222, 1);
    width: 28px;
    height: 967px;
    position: absolute;
    left: 87px;
    top: 0px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.e13_415 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 477px;
    height: 213px;
    position: absolute;
    left: 0px;
    top: 38px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_415_4_268 {
    background-color: rgba(111.00000098347664, 107.00000122189522, 251.00000023841858, 1);
    width: 477px;
    height: 114px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_415_4_267 {
    color: rgba(255, 255, 255, 1);
    width: 413px;
    height: 54px;
    position: absolute;
    left: 32px;
    top: 24px;
    font-family: Raleway;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei13_415_8_23 {
    width: 477px;
    height: 99px;
    position: absolute;
    left: 0px;
    top: 114px;
}

.ei13_415_4_271 {
    width: 293px;
    height: 99px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_415_4_269 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 229px;
    height: 36px;
    position: absolute;
    left: 32px;
    top: 14px;
    font-family: Raleway;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.ei13_415_4_270 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 229px;
    height: 35px;
    position: absolute;
    left: 32px;
    top: 50px;
    font-family: Raleway;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei13_415_13_39 {
    width: 184px;
    height: 99px;
    position: absolute;
    left: 293px;
    top: 0px;
}

.ei13_415_13_38 {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 32px;
    top: -37px;
}

.i13_415_12_32 {
    overflow: hidden;
}

.ei13_415_12_32 {
    border-radius: 500px;
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_415_13_36 {
    width: 203.24188232421875px;
    height: 140px;
    position: absolute;
    left: -40.66658401489258px;
    top: -10px;
}

.ei13_415_12_31 {
    width: 179.91004943847656px;
    height: 120px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url(images/person_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e13_439 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: rgba(255, 255, 255, 1);
    width: 565px;
    height: 618px;
    position: absolute;
    left: 45px;
    top: 310px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_439_4_268 {
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 565px;
    height: 519px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_439_4_267 {
    color: rgba(255, 255, 255, 1);
    width: 501px;
    height: 459px;
    position: absolute;
    left: 32px;
    top: 24px;
    font-family: Raleway;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei13_439_8_23 {
    width: 565px;
    height: 99px;
    position: absolute;
    left: 0px;
    top: 519px;
}

.ei13_439_4_271 {
    width: 381px;
    height: 99px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_439_4_269 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 317px;
    height: 36px;
    position: absolute;
    left: 32px;
    top: 14px;
    font-family: Raleway;
    text-align: left;
    font-size: 24px;
    letter-spacing: 0;
}

.ei13_439_4_270 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 317px;
    height: 35px;
    position: absolute;
    left: 32px;
    top: 50px;
    font-family: Raleway;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.ei13_439_13_39 {
    width: 184px;
    height: 99px;
    position: absolute;
    left: 381px;
    top: 0px;
}

.ei13_439_13_38 {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 32px;
    top: -37px;
}

.i13_439_12_32 {
    overflow: hidden;
}

.ei13_439_12_32 {
    border-radius: 500px;
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 120px;
    height: 120px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_439_13_36 {
    width: 203.24188232421875px;
    height: 140px;
    position: absolute;
    left: -40.66658401489258px;
    top: -10px;
}

.ei13_439_12_31 {
    width: 179.91004943847656px;
    height: 120px;
    position: absolute;
    left: 10px;
    top: 10px;
    background-image: url(images/person_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e13_471 {
    width: 507px;
    height: 487px;
    position: absolute;
    left: 705px;
    top: 175px;
}

.e13_457 {
    width: 507px;
    height: 170px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_457_4_192 {
    width: 507px;
    height: 170px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_457_4_189 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 507px;
    height: 170px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Raleway;
    text-align: left;
    font-size: 60px;
    letter-spacing: 0;
}

.e13_460 {
    color: rgba(0, 0, 0, 1);
    width: 445px;
    height: 287px;
    position: absolute;
    left: 16px;
    top: 200px;
    font-family: Poppins;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
}

.e13_461 {
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 140px;
    height: 59px;
    position: absolute;
    left: 16px;
    top: 387px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_461_3_51 {
    color: rgba(255, 255, 255, 1);
    width: 103px;
    height: 27px;
    position: absolute;
    left: 18.5px;
    top: 16px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e13_529 {
    width: 1366px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 1849px;
}

.e13_473 {
    background-image: linear-gradient(0deg, rgba(111.00000858306885, 124.9999925494194, 251.00000023841858, 1) 0%,rgba(37.9999977350235, 47.999993339180946, 140.00000685453415, 1) 100%);
    width: 1366px;
    height: 768px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e13_480 {
    width: 514px;
    height: 70px;
    position: absolute;
    left: 426px;
    top: 12px;
}

.ei13_480_4_195 {
    width: 514px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_480_4_196 {
    color: rgba(255, 255, 255, 1);
    width: 514px;
    height: 140px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Raleway;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0;
}

.e13_485 {
    background-color: rgba(255, 255, 255, 1);
    width: 450px;
    height: 320px;
    position: absolute;
    left: 104px;
    top: 236px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_485_13_102 {
    width: 450px;
    height: 245px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_485_13_89 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    width: 418px;
    height: 245px;
    position: absolute;
    left: 16px;
    top: 0px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-image: url(images/space_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ei13_485_13_96 {
    width: 450px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 255px;
}

.ei13_485_13_99 {
    width: 367px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 0px;
}

.ei13_485_13_91 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 367px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Raleway;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}

.ei13_485_13_97 {
    width: 63px;
    height: 45px;
    position: absolute;
    left: 377px;
    top: 0px;
}

.ei13_485_13_100 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 12.5px;
}

.ei13_485_13_101 {
    background-color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.ei13_485_13_95 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    opacity: 0.800000011920929;
    width: 43px;
    height: 24px;
    position: absolute;
    left: 20px;
    top: 10.5px;
    font-family: Raleway;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.ei13_485_13_120 {
    width: 450px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 310px;
}

.ei13_485_13_118 {
    background-color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 386px;
    height: 10px;
    position: absolute;
    left: 32px;
    top: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.e13_497 {
    background-color: rgba(255, 255, 255, 1);
    width: 450px;
    height: 320px;
    position: absolute;
    left: 815px;
    top: 236px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_497_13_102 {
    width: 450px;
    height: 245px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_497_13_89 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    width: 418px;
    height: 245px;
    position: absolute;
    left: 16px;
    top: 0px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    background-image: url(images/space_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ei13_497_13_96 {
    width: 450px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 255px;
}

.ei13_497_13_99 {
    width: 367px;
    height: 45px;
    position: absolute;
    left: 10px;
    top: 0px;
}

.ei13_497_13_91 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 367px;
    height: 45px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Raleway;
    text-align: center;
    font-size: 30px;
    letter-spacing: 0;
}

.ei13_497_13_97 {
    width: 63px;
    height: 45px;
    position: absolute;
    left: 377px;
    top: 0px;
}

.ei13_497_13_100 {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 12.5px;
}

.ei13_497_13_101 {
    background-color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 16px;
    height: 16px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.ei13_497_13_95 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    opacity: 0.800000011920929;
    width: 43px;
    height: 24px;
    position: absolute;
    left: 20px;
    top: 10.5px;
    font-family: Raleway;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.ei13_497_13_120 {
    width: 450px;
    height: 10px;
    position: absolute;
    left: 0px;
    top: 310px;
}

.ei13_497_13_118 {
    background-color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 386px;
    height: 10px;
    position: absolute;
    left: 32px;
    top: 0px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.e13_519 {
    background-color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 140px;
    height: 59px;
    position: absolute;
    left: 1125px;
    top: 645px;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
}

.ei13_519_3_51 {
    color: rgba(255, 255, 255, 1);
    width: 112px;
    height: 27px;
    position: absolute;
    left: 14px;
    top: 16px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_551 {
    width: 1137px;
    height: 238.5px;
    position: absolute;
    left: 114px;
    top: 2738px;
}

.e13_530 {
    width: 479px;
    height: 74px;
    position: absolute;
    left: 330px;
    top: 0px;
}

.ei13_530_4_192 {
    width: 479px;
    height: 74px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei13_530_4_189 {
    color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 479px;
    height: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Raleway;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0;
}

.e17_534 {
    color: rgba(0, 0, 0, 1);
    width: 1137px;
    height: 30px;
    position: absolute;
    left: 0px;
    top: 81px;
    font-family: Poppins;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
}

.e17_549 {
    width: 442px;
    height: 120.5px;
    position: absolute;
    left: 348px;
    top: 118px;
}

.e17_545 {
    width: 221px;
    height: 120.5px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e17_546 {
    background-color: rgba(208.24999898672104, 44.253124594688416, 44.253124594688416, 1);
    width: 120px;
    height: 120.5px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e17_547 {
    width: 221px;
    height: 120.5px;
    position: absolute;
    left: 221px;
    top: 0px;
}

.e17_548 {
    background-color: rgba(38.8588010519743, 34.903118312358856, 232.68750607967377, 1);
    width: 97.5px;
    height: 112.5px;
    position: absolute;
    left: 112.5px;
    top: 4px;
}

.e19_236 {
    width: 1366px;
    height: 512px;
    position: absolute;
    left: 0px;
    top: 3158px;
}

.e17_550 {
    background-color: rgba(7.000000057742, 9.000000413507223, 23.000000528991222, 1);
    width: 1366px;
    height: 512px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e17_558 {
    width: 212px;
    height: 185px;
    position: absolute;
    left: 116px;
    top: 70px;
}

.e17_553 {
    color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 105px;
    height: 27px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_554 {
    color: rgba(255, 255, 255, 1);
    width: 80px;
    height: 27px;
    position: absolute;
    left: 36px;
    top: 47px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_555 {
    color: rgba(255, 255, 255, 1);
    width: 99px;
    height: 27px;
    position: absolute;
    left: 36px;
    top: 84px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_556 {
    color: rgba(255, 255, 255, 1);
    width: 122px;
    height: 27px;
    position: absolute;
    left: 36px;
    top: 121px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_557 {
    color: rgba(255, 255, 255, 1);
    width: 176px;
    height: 27px;
    position: absolute;
    left: 36px;
    top: 158px;
    font-family: Poppins;
    text-align: center;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_559 {
    width: 133px;
    height: 148px;
    position: absolute;
    left: 462px;
    top: 70px;
}

.e17_560 {
    color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 67px;
    height: 27px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_561 {
    color: rgba(255, 255, 255, 1);
    width: 48px;
    height: 27px;
    position: absolute;
    left: 36px;
    top: 47px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_562 {
    color: rgba(255, 255, 255, 1);
    width: 91px;
    height: 27px;
    position: absolute;
    left: 36px;
    top: 84px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_563 {
    color: rgba(255, 255, 255, 1);
    width: 97px;
    height: 27px;
    position: absolute;
    left: 36px;
    top: 121px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_565 {
    width: 536px;
    height: 230px;
    position: absolute;
    left: 809px;
    top: 70px;
}

.e17_566 {
    color: rgba(218.00000220537186, 114.0000008046627, 44.000001177191734, 1);
    width: 101px;
    height: 27px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_567 {
    color: rgba(255, 255, 255, 1);
    width: 120px;
    height: 27px;
    position: absolute;
    left: 24px;
    top: 47px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_573 {
    background-color: rgba(255, 255, 255, 1);
    width: 64px;
    height: 64px;
    position: absolute;
    left: 24px;
    top: 97px;
}

.e17_574 {
    width: 64px;
    height: 64px;
    position: absolute;
    left: 120px;
    top: 94px;
}

.e17_575 {
    background-color: rgba(255, 255, 255, 1);
    width: 58.666664123535156px;
    height: 58.66666793823242px;
    position: absolute;
    left: 2.6666667461395264px;
    top: 2.6666667461395264px;
}

.e17_579 {
    width: 512px;
    height: 48px;
    position: absolute;
    left: 24px;
    top: 182px;
}

.e17_576 {
    background-color: rgba(255, 255, 255, 1);
    width: 512px;
    height: 48px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.e17_577 {
    background-color: rgba(2.000000118277967, 48.000000938773155, 71.00000336766243, 1);
    width: 168px;
    height: 40px;
    position: absolute;
    left: 334px;
    top: 4px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.e17_578 {
    color: rgba(255, 255, 255, 1);
    width: 90px;
    height: 27px;
    position: absolute;
    left: 373px;
    top: 11px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}

.e17_571 {
    color: rgba(255, 255, 255, 1);
    width: 325px;
    height: 27px;
    position: absolute;
    left: 116px;
    top: 370px;
    font-family: Poppins;
    text-align: left;
    font-size: 18px;
    letter-spacing: 0;
}
