@page
@model MVClogin2.Areas.Simple.Pages.Test.Test3Model
@{
}
<head>
    <link rel="stylesheet" href="~/css/test3.css" />
</head>
<body>
<div class="div">
  <div class="div-2">
    <div class="div-3">
      <div class="builder-columns div-4">
        <div class="builder-column column">
          <div class="div-5">
            <div class="div-6">Mielta</div>
            <div class="something-what-you-should-to-k">
              Something what you should to know
            </div>
            <div class="eh-bien-mon-prince-genes-e">
              — Eh bien, mon prince. Gênes et Lucques ne sont plus que des
              apanages, des поместья, de la famille Buonaparte. Non, je vous
              préviens que si vous ne me dites pas que nous avons la guerre, si
              vous vous permettez encore de pallier toutes les infamies, toutes
              les atrocités de cet Antichrist (ma parole, j'y crois) — je ne
              vous connais plus, vous n'êtes plus mon ami, vous n'êtes plus мой
              верный раб, comme vous dites 1. Ну, здравствуйте, здравствуйте. Je
              vois que je vous fais peur 2, садитесь и рассказывайте.
            </div>
            <div class="div-7">Enrol Now</div>
          </div>
        </div>
        <div class="builder-column column-2">
          <div class="div-8">
            <div class="div-9">
              <div class="div-10">
                <div class="div-11">
                  <div class="builder-columns div-12">
                    <div class="builder-column column-3">
                      <div class="div-13">About</div>
                    </div>
                    <div class="builder-column column-4">
                      <div class="div-14">Services</div>
                    </div>
                    <div class="builder-column column-5">
                      <div class="div-15">Our work</div>
                    </div>
                    <div class="builder-column column-6">
                      <div class="div-16">Enrol Me</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="div-17">
              <div class="builder-columns div-18">
                <div class="builder-column column-7">
                  <div class="div-19">
                    <div class="div-20">
                      <div class="div-21">32K</div>
                      <div class="div-22"></div>
                      <div class="div-23"></div>
                      <div class="div-24">Students Enrolled</div>
                    </div>
                    <div class="div-25">
                      <div class="div-26">
                        <div class="div-27">4.7</div>
                        <div class="div-28"></div>
                        <div class="div-29"></div>
                        <div class="div-30">Overall Rating</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="builder-column column-8">
                  <div class="div-31">
                    <div class="div-32"></div>
                    <div class="div-33"></div>
                    <div class="div-34"></div>
                    <div class="div-35"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-36">
    <div class="builder-columns div-37">
      <div class="builder-column column-9">
        <div class="div-38">
          <div class="div-39">
            <div class="builder-columns div-40">
              <div class="builder-column column-10">
                <div class="div-41">
                  <div class="builder-columns div-42">
                    <div class="builder-column column-11">
                      <div class="div-43">What we are going to say</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="we-want-to-say-you-that-we-wan">
            We want to say you that we want to say you that we want to say you
            that we want to say you that we want to say you that we want to say
            you that we want to say you that we want to say you that we want to
            say you that we want to say you that we want to say you that we want
            to say you that we want to say you that we want to say you
          </div>
          <div class="div-44">Learn More</div>
        </div>
      </div>
    </div>
  </div>
  <div class="div-45">
    <div class="div-46">
      <div class="div-47">
        <div class="div-48">
          <div class="div-49">
            <div class="builder-columns div-50">
              <div class="builder-column column-12">
                <div class="div-51">
                  <div class="builder-columns div-52">
                    <div class="builder-column column-13">
                      <div class="div-53">Get our App</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="you-can-use-your-smartphone-fo">
          You can use your smartphone for better expirience
        </div>
      </div>
    </div>
  </div>
  <div class="div-54">
    <div class="div-55">
      <div class="builder-columns div-56">
        <div class="builder-column column-14">
          <div class="div-57">
            <div class="div-58">Quick Links</div>
            <div class="div-59">About us</div>
            <div class="div-60">Contact us</div>
            <div class="div-61">Privacy Policy</div>
            <div class="div-62">Terms & Conditions</div>
          </div>
        </div>
        <div class="builder-column column-15">
          <div class="div-63">
            <div class="builder-columns div-64">
              <div class="builder-column column-16">
                <div class="this-website-nwas-developed-by">
                  This website nwas developed by me
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="builder-column column-17">
          <div class="div-65">
            <div class="div-66">Course</div>
            <div class="div-67">Login</div>
            <div class="div-68">Download</div>
            <div class="div-69">All courses</div>
          </div>
        </div>
        <div class="builder-column column-18">
          <div class="div-70">
            <div class="div-71">Contuct us</div>
            <div class="div-72">mail@mail.ru</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

