@page
@model MVClogin2.Areas.Simple.Pages.Test.Test2Model
@{
}

<html>
<!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/aos@2.3.1/dist/aos.css" />
    <link rel="stylesheet" type="text/css" href="~/css//test2.css"/>
    <script type="text/javascript" src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/px2code/posize/build/v1.00.6.js"></script>


</head>

<body style="display: flex; flex-direction: column">
    <main class="desktop-index main layout">
        <!-- ======= section1 ======= -->
        <section class="section1__section1 layout">
            <div style="background:#6F6BFB" class="section1__block1 layout">
                <div class="section1__flex layout1">
                    <div class="section1__flex-item">
                        <div class="section1__flex1 layout">
                            <h1 class="section1__hero-title layout"><br />Mielta</h1>
                            <h1 class="section1__hero-title1 layout"><br />Something what you<br />should to know</h1>
                            <h5 class="section1__highlights2 layout">
                                <br />— Eh bien, mon prince. Gênes et Lucques ne sont plus que des apanages, <br />des поместья, de la
                  famille Buonaparte. Non, je vous préviens <br />que si vous ne me dites pas que nous avons la guerre,
                  si vous <br />vous permettez encore de pallier toutes les infamies, toutes <br />les atrocités de cet
                  Antichrist (ma parole, j&#x27;y crois) — je ne vous <br />connais plus, vous n&#x27;êtes plus mon ami,
                  vous n&#x27;êtes plus мой <br />верный раб, comme vous dites 1. Ну, здравствуйте, здравствуйте.
                                <br />Je vois que je vous fais peur 2, садитесь и рассказывайте.
                            </h5>
                            <div class="section1__flex-item1">
                                <div class="section1__block3 layout">
                                    <px-posize track-style='{"flexGrow":1}' x="47.5fr minmax(0px, max-content) 26.5fr" y="16px minmax(0px, max-content) 21fr">
                                        <h4 class="section1__highlights1"><br />Enrol Now</h4>
                                    </px-posize>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="spacer section1__flex-spacer"></div>
                    <div class="section1__flex-item2">
                        <div class="section1__flex layout">
                            <h5 class="section1__highlights layout"><br />About</h5>
                            <div class="spacer section1__flex-spacer1"></div>
                            <h5 class="section1__highlights layout"><br />Services</h5>
                            <div class="spacer section1__flex-spacer1"></div>
                            <h5 class="section1__highlights layout"><br />Our work</h5>
                            <div class="spacer section1__flex-spacer2"></div>
                            <div class="section1__flex-item3">
                                <button class="section1__block2 layout">
                                    <h4 class="section1__highlights11 layout"><br />Enrol Me</h4>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <comment content="======= End section1 =======" break="true"></comment><!-- ======= section2 ======= -->
        <section class="section2__section2 layout">
            <div class="section2__flex layout">
                <div class="section2__block16 layout">
                    <div class="section2__block17 layout">
                        <px-posize track-style='{"flexGrow":1}' x="0px 507fr 0fr" y="0px minmax(0px, 144fr) 26fr">
                            <h1 class="section2__hero-title2"><br />What we are going to say</h1>
                        </px-posize>
                    </div>
                </div>
                <h5 class="section2__highlights6 layout">
                    <br />We want to say you that we want to say you that we want to say you that we want to say you that we
            want to say you that we want to say you that we want to say you that we want to say you that we want to say
            you that we want to say you that we want to say you that we want to say you that we want to say you that we
            want to say you
                </h5>
                <div class="section2__flex-item">
                    <button class="section2__block18 layout">
                        <h4 class="section2__highlights1 layout"><br />Learn More</h4>
                    </button>
                </div>
            </div>
        </section>
        <comment content="======= End section2 =======" break="true"></comment><!-- ======= section3 ======= -->
        <section class="section3__section3 layout">
            <div style="background:#6F6BFB" class="section3__block19 layout">
                <div class="section3__block22 layout">
                    <div class="section3__block23 layout">
                        <div class="section3__group layout"></div>
                    </div>
                    <div class="spacer section3__block22-spacer"></div>
                    <div class="section3__block28 layout">
                        <div class="section3__group layout1"></div>
                    </div>
                </div>
                <div class="section3__block22 layout1">
                    <div class="section3__block23 layout">
                        <div class="section3__group layout"></div>
                    </div>
                    <div class="spacer section3__block22-spacer1"></div>
                    <div class="section3__block28 layout">
                        <div class="section3__group layout1"></div>
                    </div>
                </div>
                <div class="section3__block24 layout">
                    <div class="section3__block24-item">
                        <div class="section3__block25 layout">
                            <h1 class="section3__big-title1 layout"><br />Game Design Essentials</h1>
                        </div>
                    </div>
                    <div class="spacer section3__block24-spacer"></div>
                </div>
                <div class="section3__block20 layout">
                    <div class="section3__block21 layout">
                        <h1 class="section3__hero-title layout"><br />Our products for sale</h1>
                    </div>
                </div>
                <div class="section3__block26 layout">
                    <h5 class="section3__highlights7 layout"><br />8HRS</h5>
                </div>
                <div class="section3__block26 layout1">
                    <h5 class="section3__highlights7 layout"><br />8HRS</h5>
                </div>
                <div class="section3__block24 layout1">
                    <div class="section3__block24-item1">
                        <div class="section3__block25 layout">
                            <h1 class="section3__big-title1 layout"><br />Game Design Essentials</h1>
                        </div>
                    </div>
                    <div class="spacer section3__block24-spacer1"></div>
                </div>
                <button class="section3__block18 layout">
                    <h4 class="section3__highlights1 layout"><br />All products</h4>
                </button>
            </div>
        </section>
        <comment content="======= End section3 =======" break="true"></comment><!-- ======= section4 ======= -->
        <section class="section4__section4 layout">
            <div class="section4__flex layout">
                <div class="section4__block29 layout">
                    <div class="section4__block30 layout">
                        <px-posize track-style='{"flexGrow":1}' x="56.5fr 76.41% 56.5fr" y="0px minmax(0px, 72fr) 2fr">
                            <h1 class="section4__hero-title2"><br />Get our App</h1>
                        </px-posize>
                    </div>
                </div>
                <h5 class="section4__highlights6 layout"><br />You can use your smartphone for better expirience</h5>
                <div class="section4__block31 layout">
                    <div class="section4__block31-item">
                        <img src="./assets/0fa4075b9f77b6b6500eec7de02384b3.png" alt="" class="section4__image7 layout" />
                    </div>
                    <div class="section4__block31-item">
                        <div class="section4__block32 layout">
                            <div class="section4__group layout">
                                <img src="./assets/0f3827c747adde2a9479d62414d2a45a.png" alt="" class="section4__image8 layout" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <comment content="======= End section4 =======" break="true"></comment><!-- ======= section5 ======= -->
        <section class="section5__section5 layout">
            <div class="section5__block33 layout">
                <div class="section5__flex layout1">
                    <div class="section5__flex-item">
                        <div class="section5__flex1 layout">
                            <h4 class="section5__highlights8 layout"><br />Quick Links</h4>
                            <h4 class="section5__highlights9 layout"><br />About us</h4>
                            <h4 class="section5__highlights9 layout1"><br />Contact us</h4>
                            <h4 class="section5__highlights9 layout2"><br />Privacy Policy</h4>
                            <h4 class="section5__highlights9 layout3"><br />Terms &amp; Conditions</h4>
                        </div>
                    </div>
                    <div class="spacer section5__flex-spacer"></div>
                    <div class="section5__flex-item1">
                        <div class="section5__flex1 layout1">
                            <h4 class="section5__highlights81 layout"><br />Course</h4>
                            <h4 class="section5__highlights91 layout"><br />Login</h4>
                            <h4 class="section5__highlights91 layout1"><br />Download</h4>
                            <h4 class="section5__highlights91 layout2"><br />All courses</h4>
                        </div>
                    </div>
                    <div class="spacer section5__flex-spacer1"></div>
                    <div class="section5__flex-item2">
                        <div class="section5__flex1 layout4">
                            <div class="section5__flex1 layout3">
                                <div class="section5__flex1 layout2">
                                    <h4 class="section5__highlights81 layout"><br />Contuct us</h4>
                                    <h4 class="section5__highlights91 layout3"><br />mail@mail.ru</h4>
                                </div>
                                <div class="section5__flex layout">
                                    <div class="section5__flex-item3">
                                        <img src="./assets/cfae22bca2cc901e99a680b672eaaed9.png" alt="" class="section5__icon4 layout" />
                                    </div>
                                    <div class="spacer section5__flex-spacer2"></div>
                                    <div class="section5__flex-item4">
                                        <img src="./assets/2ab53f8c9509b4796006c7de5723dc16.png" alt="" class="section5__icon5 layout" />
                                    </div>
                                </div>
                            </div>
                            <div class="section5__block34 layout">
                                <div class="section5__cover-block layout">
                                    <h4 class="section5__highlights91 layout4"><br />Subscribe</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ======= End section5 ======= -->

    </main>
    <script type="text/javascript">
        AOS.init();
    </script>
</body>

</html>