@page
@model MVClogin2.Areas.Simple.Pages.Test.Test4Model
@{
}
<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8" />
		<title>desktop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" >
		<link rel="StyleSheet" href="desktop.css" />
		<script src="https://secure.exportkit.com/cdn/js/ek_googlefonts.js?v=6"></script>
		<!-- Add your custom HEAD content here -->
		<link rel="stylesheet" href="~/css/test4.css" />
	</head>
	<body>
		<div id="content-container" >
			<div id="_bg__desktop"  ></div>

			<div id="hero_selection"  >
				<div id="back"  ></div>

				<div id="menu_items"  >
					<div id="about" >
						About
					</div>
					<div id="services" >
						Services
					</div>
					<div id="our_work" >
						Our work
					</div>

					<div id="button"  >
						<div id="button_text" >
							Enrol Me
						</div>

					</div>

				</div>
				<div id="logo" >
					Mielta
				</div>
				<div id="something_what_you_should_to_know" >
					Something what you<br/>should to know
				</div>
				<div id="___eh_bien__mon_prince__g_nes_et_lucques_ne_sont_plus_que_des_apanages__des___________de_la_famille_buonaparte__non__je_vous_pr_viens_que_si_vous_ne_me_dites_pas_que_nous_avons_la_guerre__si_vous_vous_permettez_encore_de_pallier_toutes_les_infamies__toutes_les_atrocit_s_de_cet_antichrist__ma_parole__j_y_crois____je_ne_vous_connais_plus__vous_n__tes_plus_mon_ami__vous_n__tes_plus_________________comme_vous_dites_1__________________________________je_vois_que_je_vous_fais_peur_2___________________________" >
					<span class="char">%E2%80%94 </span> Eh bien, mon prince. G<span class="char">%C3%AAn</span>nes et Lucques ne sont plus que des apanages, <br/>des <span class="char">%D0%BF%D0%BE%D0%BC%D0%B5%D1%81%D1%82%D1%8C%D1%8F,</span>, de la famille Buonaparte. Non, je vous pr<span class="char">%C3%A9v</span>viens <br/>que si vous ne me dites pas que nous avons la guerre, si vous <br/>vous permettez encore de pallier toutes les infamies, toutes <br/>les atrocit<span class="char">%C3%A9s</span>s de cet Antichrist (ma parole, j'y crois) <span class="char">%E2%80%94 </span> je ne vous <br/>connais plus, vous n'<span class="char">%C3%AAt</span>tes plus mon ami, vous n'<span class="char">%C3%AAt</span>tes plus <span class="char">%D0%BC%D0%BE%D0%B9 </span> <br/><span class="char">%D0%B2%D0%B5%D1%80%D0%BD%D1%8B%D0%B9 </span> <span class="char">%D1%80%D0%B0%D0%B1,</span>, comme vous dites 1. <span class="char">%D0%9D%D1%83,</span>, <span class="char">%D0%B7%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5,</span>, <span class="char">%D0%B7%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5.</span>. <br/>Je vois que je vous fais peur 2, <span class="char">%D1%81%D0%B0%D0%B4%D0%B8%D1%82%D0%B5%D1%81%D1%8C </span> <span class="char">%D0%B8 </span> <span class="char">%D1%80%D0%B0%D1%81%D1%81%D0%BA%D0%B0%D0%B7%D1%8B%D0%B2%D0%B0%D0%B9%D1%82%D0%B5.</span>.
				</div>

				<div id="button_ek1"  >

					<div id="pencilalt"  >
						<img src="skins/vector.png" id="vector" />
						<img src="skins/vector_ek1.png" id="vector_ek1" />

					</div>
					<div id="button_text_ek1" >
						Enrol Now
					</div>

				</div>

				<div id="person"  >
					<div id="ellipse_2"  ></div>
					<div id="rectangle_9"  ></div>
					<div id="rectangle_10"  ></div>
					<div id="rectangle_11"  ></div>
					<div id="rectangle_12"  ></div>
					<div id="ellipse_3"  ></div>

				</div>

				<div id="achivement"  >
					<div id="rectangle_14"  ></div>
					<div id="rectangle_13"  ></div>
					<div id="students_enrolled" >
						Students Enrolled
					</div>
					<div id="_32k" >
						32K
					</div>

				</div>

				<div id="achivement_2"  >

					<div id="achivement_ek1"  >
						<div id="rectangle_14_ek1"  ></div>
						<div id="rectangle_13_ek1"  ></div>
						<div id="overall_rating" >
							Overall Rating
						</div>
						<div id="_4_7" >
							4.7
						</div>

					</div>

					<div id="emojione_star"  >
						<img src="skins/vector_ek2.png" id="vector_ek2" />

					</div>

				</div>

			</div>

			<div id="testimonious_section"  >

				<div id="frame_46"  >

					<div id="frame_47"  >

						<div id="testimonies_left"  >
							<div id="rectangle_15"  ></div>

							<div id="testimony"  >

								<div id="testimony_content"  >
									<div id="amazing_work__well_done_" >
										It's very important course for me. I ca get something via it. Thank for the course.
									</div>

								</div>

								<div id="name_and_image"  >

									<div id="testimony_name"  >
										<div id="jane_cooper" >
											Jane Cooper
										</div>
										<div id="developer__sony" >
											Developer, Sony
										</div>

									</div>

									<div id="frame_2"  >
										<img src="skins/group_1.png" id="group_1" />

									</div>

								</div>

							</div>

							<div id="testimony_ek1"  >

								<div id="testimony_content_ek1"  >
									<div id="amazing_work__well_done__ek1" >
										How to use:<br/><br/><br/><br/>1. Select at least two components<br/><br/><br/><br/>2. Run plugin<br/><br/><br/><br/>3. Choose the component you want to keep (You will be relocated at each component position when selecting. It helps to find the one you want to keep.)<br/><br/><br/><br/>4. Click Merge<br/><br/><br/><br/>5. The other symbols will be removed, and all of their instances will be replaced by the one you chose to keep, keeping overrides whenever it is possible<br/><br/><br/><br/>6. Enjoy!
									</div>

								</div>

								<div id="name_and_image_ek1"  >

									<div id="testimony_name_ek1"  >
										<div id="jane_cooper_ek1" >
											Mary Facebook
										</div>
										<div id="developer__sony_ek1" >
											Developer, Sony
										</div>

									</div>

									<div id="frame_2_ek1"  >
										<img src="skins/group_1_ek1.png" id="group_1_ek1" />

									</div>

								</div>

							</div>

						</div>

					</div>

					<div id="testimonius_right"  >

						<div id="heading"  >

							<div id="frame_1"  >
								<div id="heding_2" >
									What we are going to say
								</div>

							</div>

						</div>
						<div id="we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you_that_we_want_to_say_you" >
							We want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you
						</div>

						<div id="frame_48"  >

							<div id="button_ek2"  >
								<div id="button_text_ek2" >
									Learn More
								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

			<div id="products_section"  >
				<div id="back_ek1"  ></div>

				<div id="heading_ek1"  >

					<div id="frame_1_ek1"  >
						<div id="heding_2_ek1" >
							Our products for sale
						</div>

					</div>

				</div>

				<div id="pucture_sith_signature"  >

					<div id="frame_9"  >
						<img src="skins/space_1.png" id="space_1" />

					</div>

					<div id="frame_6"  >

						<div id="frame_8"  >
							<div id="game_design_essentials" >
								Game Design Essentials
							</div>

						</div>

						<div id="frame_7"  >

							<div id="clock"  >
								<img src="skins/vector_ek3.png" id="vector_ek3" />

							</div>
							<div id="_8hrs" >
								8HRS
							</div>

						</div>

					</div>

					<div id="frame_11"  >
						<div id="rectangle_7"  ></div>

					</div>

				</div>

				<div id="pucture_sith_signature_ek1"  >

					<div id="frame_9_ek1"  >
						<img src="skins/space_1_ek1.png" id="space_1_ek1" />

					</div>

					<div id="frame_6_ek1"  >

						<div id="frame_8_ek1"  >
							<div id="game_design_essentials_ek1" >
								Game Design Essentials
							</div>

						</div>

						<div id="frame_7_ek1"  >

							<div id="clock_ek1"  >
								<img src="skins/vector_ek4.png" id="vector_ek4" />

							</div>
							<div id="_8hrs_ek1" >
								8HRS
							</div>

						</div>

					</div>

					<div id="frame_11_ek1"  >
						<div id="rectangle_7_ek1"  ></div>

					</div>

				</div>

				<div id="button_ek3"  >
					<div id="button_text_ek3" >
						All products
					</div>

				</div>

			</div>

			<div id="app_section"  >

				<div id="heading_ek2"  >

					<div id="frame_1_ek2"  >
						<div id="heding_2_ek2" >
							Get our App
						</div>

					</div>

				</div>
				<div id="you_can_use_your_smartphone_for_better_expirience" >
					You can use your smartphone for better expirience
				</div>

				<div id="frame_12"  >

					<div id="el_star_alt"  >
						<img src="skins/vector_ek5.png" id="vector_ek5" />

					</div>

					<div id="emojione_star_of_david"  >
						<img src="skins/vector_ek6.png" id="vector_ek6" />

					</div>

				</div>

			</div>

			<div id="footer_section"  >
				<div id="rectangle_16"  ></div>

				<div id="footer_links"  >
					<div id="quick_links" >
						Quick Links
					</div>
					<div id="about_us" >
						About us
					</div>
					<div id="contact_us" >
						Contact us
					</div>
					<div id="privacy_policy" >
						Privacy Policy
					</div>
					<div id="terms___conditions" >
						Terms &amp; Conditions
					</div>

				</div>

				<div id="footer_links_ek1"  >
					<div id="course" >
						Course
					</div>
					<div id="login" >
						Login
					</div>
					<div id="download" >
						Download
					</div>
					<div id="all_courses" >
						All courses
					</div>

				</div>

				<div id="footer_links_ek2"  >
					<div id="contuct_us" >
						Contuct us
					</div>
					<div id="mail_mail_ru" >
						mail@mail.ru
					</div>
					<img src="skins/vector_ek7.png" id="vector_ek7" />

					<div id="akar_icons_instagram_fill"  >
						<img src="skins/vector_ek8.png" id="vector_ek8" />

					</div>

					<div id="mail_input"  >
						<div id="rectangle_17"  ></div>
						<div id="rectangle_18"  ></div>
						<div id="subscribe" >
							Subscribe
						</div>

					</div>

				</div>
				<div id="this_website_nwas_developed_by_me" >
					This website nwas developed by me
				</div>

			</div>

		</div>
		<script>var specialChars = document.querySelectorAll("span.char"); for(var c=0; c<specialChars.length; c++){ specialChars[c].innerHTML = decodeURIComponent(specialChars[c].innerHTML); }</script>
	</body>
</html>
