@page
@model MVClogin2.Areas.Simple.Pages.Test.TestModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/test.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

</head>
<body>
<div class=e13_178>
  <div class=e13_237>
    <div class="e13_179"></div>
    <div class=e13_192><span  class="e13_181">About</span><span  class="e13_184">Services</span><span  class="e13_185">Our work</span>
      <div class=e13_186><span  class="ei13_186_3_15">Enrol Me</span></div>
    </div><span  class="e13_180">Mielta</span><span  class="e13_193">Something what you
should to know</span><span  class="e13_194">— Eh bien, mon prince. Gênes et Lucques ne sont plus que des apanages, 
des поместья, de la famille Buonaparte. Non, je vous préviens 
que si vous ne me dites pas que nous avons la guerre, si vous 
vous permettez encore de pallier toutes les infamies, toutes 
les atrocités de cet Antichrist (ma parole, j'y crois) — je ne vous 
connais plus, vous n'êtes plus mon ami, vous n'êtes plus мой 
верный раб, comme vous dites 1. Ну, здравствуйте, здравствуйте. 
Je vois que je vous fais peur 2, садитесь и рассказывайте.</span>
    <div class=e13_195>
      <div class=ei13_195_3_46>
        <div class="ei13_195_3_47"></div>
        <div class="ei13_195_3_48"></div>
      </div><span  class="ei13_195_3_49">Enrol Now</span>
    </div>
    <div class=e13_235>
      <div class="e13_214"></div>
      <div class="e13_215"></div>
      <div class="e13_216"></div>
      <div class="e13_217"></div>
      <div class="e13_218"></div>
      <div class="e13_219"></div>
    </div>
    <div class=e13_226>
      <div class="e13_225"></div>
      <div class="e13_222"></div><span  class="e13_220">Students Enrolled</span><span  class="e13_221">32K</span>
    </div>
    <div class=e13_234>
      <div class=e13_227>
        <div class="e13_228"></div>
        <div class="e13_229"></div><span  class="e13_230">Overall Rating</span><span  class="e13_231">4.7</span>
      </div>
      <div class=e13_232>
        <div class="e13_233"></div>
      </div>
    </div>
  </div>
  <div class=e13_472>
    <div class=e13_452>
      <div class="e13_451"></div>
      <div class=e13_415>
        <div class=ei13_415_4_268><span  class="ei13_415_4_267">It’s very important course for me. I ca get something via it. Thank for the course.</span></div>
        <div class=ei13_415_8_23>
          <div class=ei13_415_4_271><span  class="ei13_415_4_269">Jane Cooper</span><span  class="ei13_415_4_270">Developer, Sony</span></div>
          <div class=ei13_415_13_39>
            <div class=ei13_415_13_38>
              <div class=ei13_415_12_32>
                <div class=ei13_415_13_36>
                  <div class="ei13_415_12_31"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=e13_439>
        <div class=ei13_439_4_268><span  class="ei13_439_4_267">How to use:

1. Select at least two components

2. Run plugin

3. Choose the component you want to keep (You will be relocated at each component position when selecting. It helps to find the one you want to keep.)

4. Click Merge

5. The other symbols will be removed, and all of their instances will be replaced by the one you chose to keep, keeping overrides whenever it is possible

6. Enjoy!</span></div>
        <div class=ei13_439_8_23>
          <div class=ei13_439_4_271><span  class="ei13_439_4_269">Mary Facebook</span><span  class="ei13_439_4_270">Developer, Sony</span></div>
          <div class=ei13_439_13_39>
            <div class=ei13_439_13_38>
              <div class=ei13_439_12_32>
                <div class=ei13_439_13_36>
                  <div class="ei13_439_12_31"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=e13_471>
      <div class=e13_457>
        <div class=ei13_457_4_192><span  class="ei13_457_4_189">What we are going to say</span></div>
      </div><span  class="e13_460">We want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you that we want to say you</span>
      <div class=e13_461><span  class="ei13_461_3_51">Learn More</span></div>
    </div>
  </div>
  <div class=e13_529>
    <div class="e13_473"></div>
    <div class=e13_480>
      <div class=ei13_480_4_195><span  class="ei13_480_4_196">Our products for sale</span></div>
    </div>
    <div class=e13_485>
      <div class=ei13_485_13_102>
        <div class="ei13_485_13_89"></div>
      </div>
      <div class=ei13_485_13_96>
        <div class=ei13_485_13_99><span  class="ei13_485_13_91">Game Design Essentials</span></div>
        <div class=ei13_485_13_97>
          <div class=ei13_485_13_100>
            <div class="ei13_485_13_101"></div>
          </div><span  class="ei13_485_13_95">8HRS</span>
        </div>
      </div>
      <div class=ei13_485_13_120>
        <div class="ei13_485_13_118"></div>
      </div>
    </div>
    <div class=e13_497>
      <div class=ei13_497_13_102>
        <div class="ei13_497_13_89"></div>
      </div>
      <div class=ei13_497_13_96>
        <div class=ei13_497_13_99><span  class="ei13_497_13_91">Game Design Essentials</span></div>
        <div class=ei13_497_13_97>
          <div class=ei13_497_13_100>
            <div class="ei13_497_13_101"></div>
          </div><span  class="ei13_497_13_95">8HRS</span>
        </div>
      </div>
      <div class=ei13_497_13_120>
        <div class="ei13_497_13_118"></div>
      </div>
    </div>
    <div class=e13_519><span  class="ei13_519_3_51">All products</span></div>
  </div>
  <div class=e17_551>
    <div class=e13_530>
      <div class=ei13_530_4_192><span  class="ei13_530_4_189">Get our App</span></div>
    </div><span  class="e17_534">You can use your smartphone for better expirience</span>
    <div class=e17_549>
      <div class=e17_545>
        <div class="e17_546"></div>
      </div>
      <div class=e17_547>
        <div class="e17_548"></div>
      </div>
    </div>
  </div>
  <div class=e19_236>
    <div class="e17_550"></div>
    <div class=e17_558><span  class="e17_553">Quick Links</span><span  class="e17_554">About us</span><span  class="e17_555">Contact us</span><span  class="e17_556">Privacy Policy</span><span  class="e17_557">Terms & Conditions</span></div>
    <div class=e17_559><span  class="e17_560">Course</span><span  class="e17_561">Login</span><span  class="e17_562">Download</span><span  class="e17_563">All courses</span></div>
    <div class=e17_565><span  class="e17_566">Contuct us</span><span  class="e17_567">mail@mail.ru</span>
      <div class="e17_573"></div>
      <div class=e17_574>
        <div class="e17_575"></div>
      </div>
      <div class=e17_579>
        <div class="e17_576"></div>
        <div class="e17_577"></div><span  class="e17_578">Subscribe</span>
      </div>
    </div><span  class="e17_571">This website nwas developed by me</span>
  </div>
</div>
</body>
